# ===============================
# Python cache
# ===============================
__pycache__/
*.pyc
*.pyo

# ===============================
# Pytest
# ===============================
.pytest_cache/

# ===============================
# Virtual environment
# ===============================
env/
venv/

# ===============================
# Environment variables
# ===============================
.env

# ===============================
# Uploads & runtime files
# ===============================
uploads/
app/uploads/

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db
